.nav button {
  height: 100%;
  width: 100px;
  padding: 5px;
  background-color: #282c34;
  color: rgb(168, 164, 164);
  border-radius: 14px 14px 0px 0px;
  border: none;
}
.nav button:hover {
  background-color: darkgoldenrod;
  color: black;
  margin: 0px, 10px;
  cursor: pointer;
}
.nav button:active {
  background-color: rgb(200, 200, 200);
  color: black;
  margin: 0px, 10px;
}
