/* Default styles */
.App {
  position: relative;
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background: linear-gradient(
    52deg,
    rgba(52, 40, 50, 1) 0%,
    rgba(52, 48, 40, 0.7598152424942264) 61%,
    rgba(40, 44, 52, 1) 100%
  );
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Logo bar styling */

.logo-bar {
  display: flex;
  position: relative;
  padding: 0 50px;

  height: 100px;
  overflow: hidden;
}
.slider {
  display: flex;
  align-items: center;

  width: 100%;
}
.bar-left {
  justify-content: flex-start;
}
.bar-right {
  justify-content: center;
}

.logo {
  display: flex;
  margin: 0 5px;
  align-self: center;
  /* width: auto; */
  height: 50px;
  opacity: 1;
  padding: 0 50px;

  transition: transform 0.4s linear;
  animation: 1s ease-in-out infinite;
}
.logo img {
  margin: 0 auto;
}

.logo:hover {
  transform: rotate(360deg);
}

.logo-name {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-weight: bold;
}
/* End logo bar styling */

/* Main styling */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 1080px;
  margin: 5px auto;
  border-radius: 15px;
  padding: 10px;
  flex-wrap: wrap;
  min-height: 60vh;
}
/* End main styling */

/* About page styling*/

.About {
  flex-basis: 100%;
}

main.About::before {
  content: "";
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8ecccc;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.about-background {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  width: 95%;
  height: 50vh;
  background-image: url("../img/photos/office-background.png");
  background-position: center;
  max-width: 1080px;
  border-radius: 15px;
}
#profile-pic-container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-start; /* Center the image horizontally */
  width: 100%;
}

#profile-pic-container img {
  width: 95%;
  min-width: 200px;
  max-width: 350px;
  height: auto;
}
.about-text {
  position: absolute;
  opacity: 0.9;
  top: 0;
  right: 0;
  width: 100%;
  font-size: calc(4px + 2vmin);
  padding: 10px;
}

.about-text p {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  font-size: calc(3px + 1.5vmin);
}
.bg1::before {
  content: "";
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #50717b;
  clip-path: polygon(0 0, 0% 0, 100% 100%, 0% 100%);
}
/* End About page styling*/

/*Project page styling*/
.Projects {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-basis: 100%;

  background-color: #fdffa2;
}
main.Projects::before {
  content: "";
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7a9eaf;
  clip-path: polygon(0% -1%, 100% -1%, 0% 50%, 100% 101%, 0% 101%);
}

.card {
  background-color: rgb(255, 255, 255);
}
/*End Project page styling*/

/*Skills page styling*/
main.Skills::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Skills {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-basis: 100%;
  overflow: hidden;
}

.skills-container::before {
  content: "";
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  background: linear-gradient(
    52deg,
    #f2fc9f 0%,

    #f7c469 80%
  );
  clip-path: polygon(0% 0%, 0% 30%, 140% 50%, 0% 70%);
}
.skill-box {
  position: absolute;
  background: linear-gradient(
    100deg,
    #56bfb5,
    #56bfb5,
    rgba(80, 80, 52, 0.8) 100%
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*End Skills page styling*/

/* Navigation styling */
.nav {
  display: flex;
  position: relative;
  height: 2em;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 350px;
}

.nav-button {
  flex-shrink: 1;
  font-size: calc(4px + 1.5vmin);
  height: 100%;
  margin: 10px;
  background: linear-gradient(
    52deg,
    rgba(52, 40, 50, 1) 0%,
    rgba(52, 48, 40, 0.7598152424942264) 61%,
    rgba(40, 44, 52, 1) 100%
  );

  border-radius: 14px 14px 0px 0px;
  box-shadow: 0 0 0 5px #ffffff;
}
.nav-button:hover {
  margin: 0px, 10px;
  cursor: pointer;
}
.nav-button.active {
  background: none;
  margin-bottom: -10px;
  box-shadow: none;
  border: none;
  cursor: default;
}
.nav-button.Skills {
  background-color: #56bfb5;
  color: white;
}

.nav-button.About {
  background-color: #8ecccc;
  color: white;
}

.nav-button.Projects {
  background-color: #7a9eaf;
  color: white;
}

/* End navigation styling */

/* Footer styling */
.App-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  background: rgb(52, 40, 50);
  background: linear-gradient(
    52deg,
    rgba(52, 40, 50, 1) 0%,
    rgba(52, 48, 40, 0.7598152424942264) 61%,
    rgba(40, 44, 52, 1) 100%
  );
  height: 25vh;
  bottom: 0;
}

.App-footer a {
  text-decoration: none;
  color: #fdffa2;
  padding: 15px;
  margin-bottom: 50px;
  font-size: calc(10px + 2vmin);
}

.App-footer a:hover {
  color: red;
}

#contact-box {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 60%;
  justify-self: center;
  text-align: center;
  padding-bottom: 45px;
}

#contact-box .contact {
  font-size: calc(12px + 2vmin);

  color: black;
  background-color: #95cf77;
  border-radius: 15px;
  border: 1px black solid;
}

.contact-button {
  padding: 5px 10px;
  cursor: pointer;
  margin: 10px;
  font-size: calc(6px + 2vmin);
}
#dribble {
  --fa-bounce-height: 25px;
  --fa-bounce-rebound: 5px;
  --fa-bounce-jump-scale-x: 1.5;
}

/* End footer styling */

/* Responsive styling */

@media screen and (min-width: 500px) {
  #dribble {
    --fa-bounce-height: 50px;
    --fa-bounce-rebound: 10px;
    --fa-bounce-jump-scale-x: 1.5;
  }

  .nav button:first-of-type {
    margin-left: 0;
  }

  .nav button:last-of-type {
    margin-right: 0;
  }

  @media screen and (min-width: 650px) {
    .nav button {
      font-size: calc(3px + 1.5vmin);
    }
  }
  @media screen and (min-width: 960px) {
  }
}
