.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*Logo bar styling */
.logo-bar {
  position: relative;
  height: 100px;
  overflow: hidden;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.logo {
  width: auto;
  height: 50px;
  margin-right: 20px;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  animation: 2s linear infinite;
}
/*end logo bar styling */

/* main styling */
.main {
  min-height: 100vh;
}
/* end main styling */

/* navigation styling */
.nav {
  display: flex;
  position: relative;
  height: 50px;
  width: 100%;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* end navigation styling */

/* footer styling */
#contact-box {
  position: absolute;
  bottom: 100%;
  left: 0;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 20vw;
  padding: 20px;
  border: solid 1px;
  border-radius: 15px;
}
#dribble {
  --fa-bounce-height: 50px;
  --fa-bounce-rebound: 10px;
  --fa-bounce-jump-scale-x: 1.5;
}
.App-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
}
.App-footer a {
  text-decoration: none;
  color: rgb(41, 123, 195);
  padding: 20px;
  margin-bottom: 50px;
  font-size: calc(12px + 2vmin);
}
.App-footer a:hover {
  color: red;
}
/* end footer styling */
